[submodule "vim-vala"]
	path = contrib/vim-vala
	url = https://github.com/tkztmk/vim-vala
[submodule "contrib/vim-gitgutter"]
	path = contrib/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "contrib/vim-airline"]
	path = contrib/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "contrib/vim-go"]
	path = contrib/vim-go
	url = https://github.com/fatih/vim-go.git
